header {
    background: url(bgtop.png);
    padding: 20px 0px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.principal {
    background-color: #CCCCCC;
    padding: 20px;
}

.titulo-principal {
    padding: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
     text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: red;
}

.beneficios {
background: #FFFFFF;
padding: 20px;
}

.ulitens {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
    background-color: white;
}

.imagembeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url(bg.jpg);
    padding: 30px 0px;
}

.copyright {
    font-family: Arial;
    color: white;
    font-size: 13px;
    margin: 20px 0;
}